<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button/>
        </ion-buttons>
        <ion-title>Appareil photo</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button @click="onTakePhoto">
          <ion-icon :icon="camera"/>
        </ion-fab-button>
      </ion-fab>

      <ion-toast :is-open="toast"
                 :duration="2000"
                 color="success"
                 message="La photo a été sauvegardée"
      />

      <ion-img :src="photo.webviewPath" v-if="photo.filepath"/>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonButtons,
  IonBackButton,
  IonTitle,
  IonContent,
  IonFab,
  IonFabButton,
  IonIcon,
  IonToast,
  IonImg,
} from '@ionic/vue'
import { camera } from 'ionicons/icons'
import { usePhotoGallery } from '@/composables/usePhotoGallery'
import { ref } from '@vue/reactivity'

export default {
  name: 'Camera',

  components: {
    IonPage,
    IonHeader,
    IonToolbar,
    IonButtons,
    IonBackButton,
    IonTitle,
    IonContent,
    IonFab,
    IonFabButton,
    IonIcon,
    IonToast,
    IonImg,
  },

  setup () {
    const { takePhoto, photo } = usePhotoGallery()
    const toast = ref(false)

    const onTakePhoto = () => {
      takePhoto()
          .then(() => {
            toast.value = true
          })
    }

    return {
      camera,
      onTakePhoto,
      toast,
      photo,
    }
  },
}
</script>
