<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button/>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Dashboard</ion-title>
        </ion-toolbar>
      </ion-header>


      <ion-button :router-link="{ name: 'location' }" expand="block">
        <ion-icon name="map-sharp"/>
        Localisation
      </ion-button>
      <ion-button :router-link="{ name: 'Camera' }" expand="block">
        <ion-icon name="camera"/>
        Appareil photo
      </ion-button>
      <ion-button :router-link="{ name: 'Photos' }" expand="block">
        <ion-icon name="images"/>
        Galerie photos
      </ion-button>

      <router-view/>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonButton,
  IonIcon,
  IonBackButton,
  IonButtons,
} from '@ionic/vue';
import {addIcons} from "ionicons";
import {mapSharp, camera, images} from 'ionicons/icons'
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'Home',
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonButton,
    IonIcon,
    IonBackButton,
    IonButtons,
  },
  setup() {
    addIcons({
      'map-sharp': mapSharp,
      'camera': camera,
      'images': images,
    })
  }
});
</script>

<style lang="scss" scoped>
ion-icon {
  margin-right: 10px;
}

ion-button {
  margin-top: 20px;
}
</style>
