<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button/>
        </ion-buttons>
        <ion-title>Ma localisation</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-fab horizontal="end" vertical="top" slot="fixed" :edge="true">
        <ion-fab-button @click="getLocation">
          <ion-icon name="locate"/>
        </ion-fab-button>
      </ion-fab>

      <p v-if="!locationEnded">Cliquez sur le bouton pour connaitre vos coordonées</p>
      <p v-if="locationEnded">
        Vous êtes localisez aux coordonnées :
      </p>
      <ul v-if="locationEnded">
        <li>Latitude : {{ locationData.lat }}</li>
        <li>Longitude : {{ locationData.long }}</li>
      </ul>
      <p v-if="locationEnded && varEnv">
        Localisation :
      </p>
      <ul v-if="locationEnded && varEnv">
        <li>Pays : {{ location.country }}</li>
        <li>Région : {{ location.state }}</li>
        <li>Département : {{ location.stateDistrict }}</li>
        <li>Ville : {{ location.city }}</li>
      </ul>

      <ion-loading message="Localisation..." :is-open="load"/>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonButtons,
  IonBackButton,
  IonTitle,
  IonContent,
  IonFab,
  IonFabButton,
  IonIcon,
  IonLoading,
} from '@ionic/vue'
import { addIcons } from 'ionicons'
import { locate } from 'ionicons/icons'
import { Plugins } from '@capacitor/core'

export default {
  name: 'Location',

  components: {
    IonPage,
    IonHeader,
    IonToolbar,
    IonButtons,
    IonBackButton,
    IonTitle,
    IonContent,
    IonFab,
    IonFabButton,
    IonIcon,
    IonLoading,
  },

  data: () => ({
    load: false,
    locationData: {
      lat: null,
      long: null,
    },
    location: {
      country: '',
      state: '',
      stateDistrict: '',
      city: '',
    },
  }),

  computed: {
    locationEnded () {
      return this.locationData.lat && this.locationData.long && (this.location.country !== '' || !this.varEnv)
    },
    varEnv () {
      return process.env.VUE_APP_CAGEDATA_KEY
    }
  },

  mounted () {
    addIcons({
      'locate': locate,
    })
  },

  methods: {
    getLocation () {
      if (process.env.VUE_APP_CAGEDATA_KEY) {
        this.load = true
      }

      const { Geolocation } = Plugins
      Geolocation.getCurrentPosition()
                 .then(({ coords: { latitude, longitude } }) => {
                   this.locationData.lat = latitude
                   this.locationData.long = longitude

                   if (process.env.VUE_APP_CAGEDATA_KEY) {
                     this.axios.get(`https://api.opencagedata.com/geocode/v1/json?key=${process.env.VUE_APP_CAGEDATA_KEY}&q=${this.locationData.lat},${this.locationData.long}`)
                         .then(response => {
                           const { country, state, state_district: stateDistrict, city } = response.data.results[0].components
                           this.location.country = country
                           this.location.state = state
                           this.location.stateDistrict = stateDistrict
                           this.location.city = city
                           this.load = false
                         })
                   }
                 })
    },
  },
}
</script>

<style lang="scss" scoped>
p {
  margin-top: 25px;
}
</style>
