<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button/>
        </ion-buttons>
        <ion-title>Mes photos</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <div id="photos_container">
        <ion-img :src="photo.webviewPath" :key="photo" v-for="photo in photos"/>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonButtons,
  IonBackButton,
  IonTitle,
  IonContent,
  IonImg,
} from '@ionic/vue'
import { usePhotoGallery } from '@/composables/usePhotoGallery'

export default {
  name: 'Photos',

  components: {
    IonPage,
    IonHeader,
    IonToolbar,
    IonButtons,
    IonBackButton,
    IonTitle,
    IonContent,
    IonImg,
  },

  setup () {
    const { photos } = usePhotoGallery()

    return {
      photos,
    }
  },
}
</script>

<style scoped>
#photos_container {
  display               : grid;
  grid-template-columns : 1fr;
  grid-gap              : 15px;
}

@media all and (min-width : 576px) {
  #photos_container {
    grid-template-columns : repeat(2, 1fr);
  }
}

@media all and (min-width : 720px) {
  #photos_container {
    grid-template-columns : repeat(3, 1fr);
  }
}
</style>
