<template>
  <ion-list>
    <ion-item>
      <ion-label>Action Sheet</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alert</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Avatar</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Badge</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Button</ion-label>
    </ion-item>
    <!--... -->
  </ion-list>
</template>

<script>
import { IonAlert, IonButton } from '@ionic/vue'
import { ref } from 'vue'

export default {
  name: 'presentation.vue',
  components: { IonAlert, IonButton },
  setup () {
    const isOpenRef = ref(false)
    const setOpen = (state: boolean) => isOpenRef.value = state
    const buttons = ['Ok']

    return { buttons, isOpenRef, setOpen }
  },
}
</script>
